##
## BOMBERMAN
##

## MAP

"BONUS_POURCENT": 5
"EMPTY_POURCENT": 30
"SOFT__POURCENT": 65

"MAP_CONFIG": [
    [1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1],
    [1, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 1],
    [3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3],
    [3, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 3],
    [3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3],
    [3, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 3],
    [3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3],
    [3, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 3],
    [3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3],
    [1, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 1],
    [1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1],
]

## CORE

"WIN_SIZE": {
    "a": 800
    "b": 600
}
"WIN_TITLE": "BomberBlock"
"WIN_BACK": 22              #RColor::RBLACK
"CAM_POSITION": {
    "a": 300
    "b": 0
    "c": 100
}
"CAM_TARGET": {
    "a": 0
    "b": 0
    "c": 0
}
"CAM_UP": {
    "a": 0
    "b": 1
    "c": 0
}

## Checkbox

"CHECKBOX_SIZE": {
    "a": 50
    "b": 50
}
"CHECKBOX_OUTLINE": {
    "a": 5
    "b": 5
}
"CHECKBOX_OUTLINE_COLOR": 21
"CHECKBOX_ENABLE_COLOR": 22
"CHECKBOX_DISABLE_COLOR": 21

## Slider

"SLIDER_SIZE": {
    "a": 200
    "b": 50
}
"SLIDER_BACKGROUND_COLOR": 1
"SLIDER_SELECTOR_SIZE": {
    "a": 18
    "b": 50
}
"SLIDER_SELECTOR_COLOR": 21

## IA

"IA_SEED": 42 # Comment this line for random seed
"IA_RANDOM_PROB": 0 # Probability of random choice
"IA_EXPLOSION_RANGE": 6
"IA_INTERNAL_DEFAULT_VALUE": -1 # Must be negativ, else side effect
"IA_BOMBE_PROB": 7 # 1/IA_BOMBE_PROB

## EXEMPLE

"VECTOR_TWO": {
    "a": 3
    "b": 4
}

"VECTOR_THREE": {
    "a": 3
    "b": 434
    "c": 5
}

"VECTOR_FOUR": {
    "a": 3
    "b": 4345
    "c": 5
    "d": 6
}

## DEFAULT

"DEF_FONT": "/Asset/Font/MinecraftRegular.ttf"
"DEF_FONT_SIZE": 40


### ENTITIES

# TIMER
"TIMER_TEXTURE": "Asset/Texture/End/SoftBlock/Obsidian.png"
"TIMER_COLOR": 7 # BLACK
"TIMER_SIZE": {
    "a": 110
    "b": 50
}